{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}
    <h1 style="color: white; text-align: center;">NEW POST</h1>
    <div class="contenedorFormulario">
        {% if "valido" in request.GET %}
            <p style="color: white"> Login Successful </p>
        {% endif %}
        <form action="" method="POST" style="text-align: center;">{% csrf_token %}
            <table style="width: 75%; color: white; margin: 20px auto;">
                {{formServ.as_table}}
            </table>
            <input type="submit"value="Enviar" style="width: 150px">
        </form>
        {{mensaje}}
    </div>
{% endblock %}