{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-secondary btn-lg btn-block" href="{% url 'new' %}">NEW SERVICE</a>
    {% endif %}
    {% for servicio in servicios %}
    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" style="width: 50%;">
            <div class="intro-text left-0 text-center bg-secondary p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{servicio.titulo}}</span>
                <span class="section-heading-upper">{{servicio.contenido}}</span>
              </h2>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
{% endblock %}