{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/coder1.png' %}" alt="Responsive image">
        <div class="intro-text left-0 text-center bg-secondary p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Coder House</span>
            <span class="section-heading-lower">Python Djnago</span>
          </h2
          <p class="mb-3"> Sistema Python-Djnago CoderHouse 2022 de Federico Tuñon Alves </p>
        </div>
      </div>
    </div>
  </section>
    
{% endblock %}


    